.ico-mono-arrow-course {
  width: 0.64em;
  height: 1em;
  fill: #EB5757;
}
.ico-mono-arrow {
  width: 0.6em;
  height: 1em;
  fill: #91A3FF;
}
.ico-mono-cloud {
  width: 1.4em;
  height: 1em;
  fill: #CACDD2;
}
.ico-mono-dollar {
  width: 0.61em;
  height: 1em;
  fill: #000;
}
.ico-mono-emblem {
  width: 1.77em;
  height: 1em;
  fill: #B9975B;
}
.ico-mono-logo {
  width: 4.98em;
  height: 1em;
  fill: #fff;
}
.ico-mono-mail {
  width: 1.31em;
  height: 1em;
  fill: #000;
}
.ico-mono-map {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.ico-mono-phone {
  width: 1.03em;
  height: 1em;
  fill: #B9975B;
}
.ico-mono-rain {
  width: 1em;
  height: 1em;
  fill: #CACDD2;
}
.ico-mono-sun {
  width: 1em;
  height: 1em;
  fill: #12141B;
}
.ico-mono-suncloud {
  width: 1.24em;
  height: 1em;
  fill: #CACDD2;
}
